@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

#main {
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 0 0 -10 0;
    background-image: url('https://');
    list-style-position: inside;
    padding: 20px;
    border: solid;
    border-color: #FE0F17;
    border-radius: 15px;
    border-width: 7.5px;
}

#title {
    font-size: 4rem;
    margin: -10px;
}

#header-img {
    width: 15%;
    height: 15%;
}

#description {
    font-size: 20px;
}

#survey-form {
    padding: 5rem 0.5rem;
    border-radius: 1.5rem;
    background: border-box;
    background-color: white;
    border-style: solid;
    border-width: 5px;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.input-checkbox {
    border: none;
    border-radius: 3px;
}

.input-textarea {
    width: 1730px;
    height: 90px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    font-family: inherit;
    border-radius: 10px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #0AD161;
    color: inherit;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

#footer {
    display: inline-block;
}

h4 {
    margin-bottom: -30px;
}

a:visited {
    color: #008080;
}